body {		
	padding: 50px;
	background: black;
}

h1 {
	font-family: 'Helvetica neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #666;
	text-align: center;
}

.notSupported {
	display: none;
}

.notSupported h1 {
	color: #b41a1a;
	margin-bottom: 20px;
}

.notSupported img {
	display: block;
	margin: 0 auto;
}

canvas {
	display: block;
	width: 640px;
	height: 480px;
	margin: 0 auto;
}

#fork {
	display: block;
	position: fixed;
	z-index: 10;

	top: 0;
	right: 30px;
	padding: 10px 50px 10px 10px;
	
	background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;

	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 14px;
	text-decoration: none;
	color: #fff;

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#fork:hover {
	text-decoration: underline;
}